/* color palette inspiration from https://hookagency.com/website-color-schemes/ */
:root {
	--darkest-color: #001b2e;
	--lightest-color: #DBCFB0;
	--highlight-color: #DBCFB0;
	--bright-color-1: #BFC8AD;
	--bright-color-2: #90B494;
	--bright-color-3: #718F94;
	--bright-color-4: #545775;
}

body {
	background: var(--darkest-color);
	color: var(--lightest-color);
	font-family: 'Comics san', sans-serif;
}

.container {
	width: 90%;
	max-width: 1000px;
	margin: 50px auto;
	display: flex;
	flex-direction: column;
	text-align: center;
}

.circle-shape {
	width: 140px;
	height: 140px;
	position: relative;
	overflow: hidden;
	border-radius: 50%;
	border: 3px solid var(--lightest-color);
	margin: 0 auto;
}

.profile-pic {
	display: inline;
	margin: 0 auto;
	height: 100%;
	width: auto;
}

a {
	color: var(--lightest-color);
	text-decoration: none;
}

.ig-link {
	margin: 10px 0;
	font-weight: bold;
}

.link-list-item {
	border: 1px solid var(--lightest-color);
	box-sizing: border-box;
	margin: 10px auto;
	color: var(--darkest-color);
	padding: 15px;
	text-align: center;
	transition: all 0.15s;
	border-radius: 25px;
}

.highlighted,
.link-list-item:hover,
a:hover {
	color: var(--highlight-color);
	border-color: var(--highlight-color);
	text-shadow: 0 0 2em var(--highlight-color);
}

.icon-list-img {
	height: 50px;
	width: 50px;
	margin: 3px;
}

.dark {
	background: var(--bright-color-4);
}

.medium {
	background: var(--bright-color-3);
}

.light {
	background: var(--bright-color-2);
}

.bright {
	background: var(--bright-color-1);
}
